
.chat-list-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar {
    width: 93%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.chat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s;
    background-color: white;
    margin: 5px 10px;
}

.chat-item:hover {
    background-color: #e9f3f5;
}

.chat-info {
    display: flex;
    flex-direction: column;
}

.chat-name {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.chat-message {
    margin: 0;
    font-size: 18px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.chat-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat-time {
    font-size: 14px;
    color: #999;
}

.chat-star {
    color: rgb(29, 219, 29);
    font-size: 16px;
    margin-top: 4px;
}